<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
</head>
<body>
<div class="dashboard-container" id="forum-app">
    <div class="container">
        <div class="tableBar">
            <el-input
                    v-model="input"
                    placeholder="请输入要查找的关键字"
                    style="width: 250px"
                    clearable
                    @keyup.enter.native="handleQuery"
            >
                <i
                        slot="prefix"
                        class="el-input__icon el-icon-search"
                        style="cursor: pointer"
                        @click="init"
                ></i>
            </el-input>
            <el-select
                    v-model="checkCategoryId"
                    placeholder="全部帖子"
                    clearable
                    @change="getPostByCategoryId"
            >
                <el-option v-for="(item,index) in categoryList" :key="index" :label="item.name"
                           :value="item.id"/>
            </el-select>
            <div class="tableLab">
                <el-button
                        type="primary"
                        @click="addPost('add')"
                >
                    + 新建帖子
                </el-button>
            </div>
        </div>
        <el-table
                :data="tableData"
                stripe
                class="tableBox"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    prop="title"
                    label="帖子标题"
                    @click="showPost(tableData.id)"
            >
            </el-table-column>
            <el-table-column
                    prop="poster"
                    label="发布人"
            ></el-table-column>
            <el-table-column
                    prop="rateValue"
                    label="评分"
            >
                <template slot-scope="{row}">
                    <el-rate
                            v-model="row.rateValue"
                            disabled
                            show-score
                            text-color="#ff9900"
                    >
                    </el-rate>
                </template>
            </el-table-column>

            <el-table-column
                    label="操作"
                    width="160"
                    align="center"
            >
                <template slot-scope="scope">
                    <el-button
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="showPost(scope.row.id)"
                    >
                        查看详情
                    </el-button>
                    <el-button
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="jumpHandle(scope.row)"
                    >
                        在线联系
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                @size-change="handleSizeChange"
                :current-page.sync="page"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/forum.js"></script>
<script src="../../api/job.js"></script>
<script>
    new Vue({
        el: '#forum-app',
        data() {
            return {
                input: '',
                name: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                checkCategoryId: '',
                categoryList: [],
                tableData: [
                    {
                        id: '',
                        title: '',
                        content: '',
                        rateValue: null,
                        pageView: '',
                        poster: '',
                        categoryId: ''
                    }
                ]
            }
        },
        computed: {},
        created() {
            this.getPostCategoryList()
            this.init()
        },
        mounted() {
        },
        methods: {
            async init() {
                if (localStorage.getItem('userInfo') != null) {
                    this.user = JSON.parse(localStorage.getItem('userInfo')).username
                    this.identity = JSON.parse(localStorage.getItem("userInfo")).identity
                }
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined,
                    categoryId: this.checkCategoryId ? this.checkCategoryId : undefined
                }
                await getPostPage(params).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.records || []
                        this.counts = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            // 获取帖子分类
            getPostCategoryList() {
                getCategoryList({'type': 3}).then(res => {
                    if (res.code === 1) {
                        this.categoryList = res.data
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                })
            },
            getPostByCategoryId() {
                this.init()
            },
            addPost(st) {
                if (st === 'add') {
                    window.parent.menuHandle({
                        id: '4',
                        url: '/front/page/forum/add.html',
                        name: '添加帖子'
                    }, true)
                } else {
                    window.parent.menuHandle({
                        id: '4',
                        url: '/front/page/forum/add.html?id=' + st,
                        name: '修改'
                    }, true)
                }
            },
            showPost(id) {
                window.parent.menuHandle({
                    id: '4',
                    url: '/front/page/forum/post.html?id=' + id,
                    name: '帖子详情'
                }, true)
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },
            handleSelectionChange(val) {
                let checkArr = []
                val.forEach((n) => {
                    checkArr.push(n.id)
                })
                this.checkList = checkArr
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange(val) {
                this.page = val
                this.init()
            }

        }
    })
</script>
</body>
</html>