<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>大学生兼职网</title>
    <link rel="shortcut icon" href="../../webLogo.ico">
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/register.css">
    <link rel="stylesheet" href="../../styles/login.css">

    <style>
        .body {
            min-width: 1366px;
        }


        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div class="register" id="register-app">
    <div class="register-box">
        <img src="../../images/login-l.jpg" alt="">
        <div class="register-form">
            <div class="register-form-title">
                <div class="h2">
                    <h2 style="height:auto;width: 32px;font-family: 宋体,serif">大学生兼职网</h2>
                </div>
                <img src="../../images/webLogo2.jpg" style="width:139px;height:82px;" alt=""/>
            </div>
            <div class="register-student">
                <!--学生注册dialog-->
                <el-button type="primary" @click="dialogFormVisible_stu = true">学生用户注册点击此处</el-button>

                <el-dialog title="学生用户注册" :visible.sync="dialogFormVisible_stu">
                    <el-form :rule="rules" ref="registerForm" :model="registerForm">

                        <el-form-item label="账户ID：" :label-width="formLabelWidth" prop="username"

                                      :rules="[{ required: true, message: '请输入账户ID', trigger: 'blur' },
                                           { min: 3, max: 12, message: '长度在 3 到 12 个字符', trigger: 'blur' }]">
                            <el-input v-model="registerForm.username" placeholder="请输入账户ID"></el-input>
                        </el-form-item>

                        <el-form-item label="密码  ：" :label-width="formLabelWidth" prop="password">
                            <el-input v-model="registerForm.password" type="password"
                                      placeholder="请输入密码 "></el-input>
                        </el-form-item>

                        <el-form-item label="用户名 ：" :label-width="formLabelWidth" prop="name"
                                      :rules="[{ required: true, message: '请输入用户名', trigger: 'blur' },
                                           { min: 1, max: 8, message: '长度在 1 到 8 个字符', trigger: 'blur' }]">
                            <el-input v-model="registerForm.name" placeholder="请输入用户名"></el-input>
                        </el-form-item>

                        <el-form-item label="电话号码：" :label-width="formLabelWidth" prop="phone"
                                      :rules="[{ required: true, message: '请输入电话号码', trigger: 'blur' },
                                           { min: 11, max: 11, message: '您输入的电话号码格式错误', trigger: 'blur' }]">
                            <el-input v-model="registerForm.phone" placeholder="请输入电话号码"></el-input>
                        </el-form-item>

                        <el-form-item prop="email" label="邮箱  :" :label-width="formLabelWidth"
                                      :rules="[{ required: true, message: '请输入邮箱地址', trigger: 'blur' },
                            { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }]">
                            <el-input v-model="registerForm.email" placeholder="请输入邮箱"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="cancelHandler">取 消</el-button>
                        <el-button type="primary" @click="btnRegister">确 定</el-button>
                    </div>
                </el-dialog>
            </div>

            <div class="register-company">
                <!--企业用户注册-->
                <el-button type="success" @click="dialogFormVisible_com = true">企业用户注册点击此处</el-button>
                <el-dialog title="企业用户注册" :visible.sync="dialogFormVisible_com">
                    <el-form :rule="rules" ref="registerForm" :model="registerForm">

                        <el-form-item label="账户ID：" :label-width="formLabelWidth" prop="username"

                                      :rules="[{ required: true, message: '请输入账户ID', trigger: 'blur' },
                                           { min: 3, max: 12, message: '长度在 3 到 12 个字符', trigger: 'blur' }]">
                            <el-input v-model="registerForm.username" placeholder="请输入账户ID"></el-input>
                        </el-form-item>

                        <el-form-item label="密码  ：" :label-width="formLabelWidth" prop="password">
                            <el-input v-model="registerForm.password" placeholder="请输入密码 "></el-input>
                        </el-form-item>

                        <el-form-item label="企业名称 ：" :label-width="formLabelWidth" prop="name"
                                      :rules="[{ required: true, message: '请输入用户名', trigger: 'blur' },
                                           { min: 1, max: 8, message: '长度在 1 到 8 个字符', trigger: 'blur' }]">
                            <el-input v-model="registerForm.name" placeholder="请输入企业名称"></el-input>
                        </el-form-item>

                        <el-form-item label="电话号码：" :label-width="formLabelWidth" prop="phone"
                                      :rules="[{ required: true, message: '请输入电话号码', trigger: 'blur' },
                                           { min: 11, max: 11, message: '您输入的电话号码格式错误', trigger: 'blur' }]">
                            <el-input v-model="registerForm.phone" placeholder="请输入电话号码"></el-input>
                        </el-form-item>

                        <el-form-item prop="email" label="邮箱  :" :label-width="formLabelWidth"
                                      :rules="[{ required: true, message: '请输入邮箱地址', trigger: 'blur' },
                            { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }]">
                            <el-input v-model="registerForm.email" placeholder="请输入邮箱"></el-input>
                        </el-form-item>
                        <el-form-item prop="license" label="企业执照:" :label-width="formLabelWidth">
                            <el-upload
                                    class="avatar-uploader"
                                    action="/common/upload"
                                    :show-file-list="false"
                                    :on-success="handleAvatarSuccess"
                                    :on-change="onChange"
                                    ref="upload">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="cancelHandler">取 消</el-button>
                        <el-button type="primary" @click="btnRegister">确 定</el-button>
                    </div>
                </el-dialog>
            </div>


        </div>
    </div>
</div>
</body>

<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../api/login.js"></script>

<script>
    new Vue({
        el: '#register-app',
        data() {
            return {
                registerForm: {
                    username: '',
                    password: '',
                    name: '',
                    identity: '',
                    phone: '',
                    email: '',
                    image: '',
                    status: '',
                    license: ''
                },
                imageUrl: '',
                dialogFormVisible_stu: false,
                dialogFormVisible_com: false,
                formLabelWidth: '100px'
            }
        },
        computed: {
            rules() {
                const passwordCheck = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入密码'));
                    } else {
                        if (this.registerForm.password !== '') {
                            this.$refs.registerForm.validateField('checkPass');
                        }
                        callback();
                    }
                }
                return {
                    password: [{validator: passwordCheck, required: true, trigger: 'blur'}]
                }
            }
        },
        created() {
        },
        methods: {
            cancelHandler() {
                this.registerForm = {
                    username: '',
                    password: '',
                    name: '',
                    identity: '',
                    phone: '',
                    email: '',
                    image: '',
                    status: '',
                    license: ''
                }
                this.dialogFormVisible_stu = false;
                this.dialogFormVisible_com = false;
            },
            handleAvatarSuccess(response, file, fileList) {
                // 拼接down接口预览
                if (response.code === 0 && response.msg === '未登录') {
                    window.top.location.href = '/front/page/login/login.html'
                } else {
                    this.imageUrl = `/common/download?name=${response.data}`
                    this.registerForm.license = response.data
                }
            },

            onChange(file) {
                if (file) {
                    const suffix = file.name.split('.')[1]
                    const size = file.size / 1024 / 1024 < 2
                    if (['png', 'jpeg', 'jpg'].indexOf(suffix) < 0) {
                        this.$message.error('上传图片只支持 png、jpeg、jpg 格式！')
                        this.$refs.upload.clearFiles()
                        return false
                    }
                    if (!size) {
                        this.$message.error('上传文件大小不能超过 2MB!')
                        return false
                    }
                    return file
                }
            },

            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },

            btnRegister() {
                let _this = this;
                if (this.registerForm.license == null) {
                    _this.registerForm.identity = 1
                } else {
                    _this.registerForm.identity = 2
                }
                return $axios({
                    url: '/user/register',
                    method: 'post',
                    data: _this.registerForm
                }).then(res => {
                    //注册成功
                    if (res.code === 1) {
                        _this.dialogFormVisible_stu = false;
                        _this.dialogFormVisible_com = false;
                        _this.$message(res.msg);
                        window.location.href = '/front/page/login/login.html';
                    } else {
                        _this.$message.error("注册失败，请重试或联系管理员！")
                    }
                })
            }
        }


    })
</script>
</html>